@import "tailwindcss";

.sf-font{
  font-family: 'SF Pro Display', sans-serif;                                               
}

.jarkata{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}


.pacifico {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
