@import "tailwindcss";

.sf-font{
  font-family: 'SF Pro Display', sans-serif;                                               
}

.jarkata{
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.roboto{
  font-family: 'Roboto', sans-serif;
}